<div class="profile_left-family">
        <div class="left-migration-top">
            <div class="left-title" style="padding-top: 5px;">迁出人口</div>
            <div class="left-family-top-title">
                <p><img alt=""><span id="immigrationTotal"></span></p>
                <span>预计迁出人口</span>
            </div>
        </div>
        <div class="left-migration-bottom">
            <div class="left-title">数据预览</div>
            <div class="data-screen">
                <p class="data-screen-title">迁出省份top5</p>
                <div class="data-screen-content top5">

                </div>
            </div>
        </div>
    </div>
    <div class="content-middle">
        <ul class="timeline">

        </ul>
        <div class="top-btn-group">
            <a class="change_date_btn">全年</a>
            <a class="change_date_btn">上半年</a>
            <a class="change_date_btn">第一季度</a>
            <a class="change_date_btn">第二季度</a>
            <a class="change_date_btn">下半年</a>
            <a class="change_date_btn">第三季度</a>
            <a class="change_date_btn">第四季度</a>
        </div>
        <div id="migrationChinaChart">
        </div>
        <div class="chart_name" style="width:400px;left:240px;">当年迁出人口</div>
    </div>
    <div class="content-right">
        <div class="right-migration-top">
            <div class="left-title" style="padding-top: 5px;">年龄占比</div>
            <div id="migrationAgeChart"></div>
        </div>
        <div class="right-migration-bottom">
            <div class="left-title" style="">文化程度</div>
            <div class="education-rate">
                <div class="education-rate-item">
                    <div class="title">研究生及以上</div>
                    <div class="progress-container">
                        <div class="progress"></div>
                    </div>
                    <div class="label">1.2%</div>
                </div>
            </div>
        </div>
    </div>
    <script src="./scripts/emmigration.js"></script>
