<div class="profile_left-family">
    <div class="left-family-top">
        <div class="left-title" style="padding-top: 5px;">家庭户规模</div>
        <div class="left-family-top-title">
            <p><img alt=""><span id="familyTotalAverage"></span></p>
            <span>平均家庭人数</span>
            <div id="familyTotalChart">

            </div>
        </div>
    </div>
    <div class="left-family-bottom">
        <div class="left-title">家庭类型</div>
        <div id="familyTypeChart"></div>
    </div>
</div>
<div class="content-middle">
    <ul class="timeline">

    </ul>
    <div id="familyChart">
    </div>
    <div class="chart_name" style="width:400px;left:240px;">当年新生儿人口数与新生儿性别比</div>
</div>
<div class="content-right">
    <div class="right-family-top">
        <div class="left-title" style="padding-top: 5px;">新生儿性别比</div>
        <div class="gender-rate">
            <div class="gender-rate-item">
                <img src="../img/family/male.png" alt="男性" width="33px" height="86px">
                <p style="color: #5891D2;" id="genderRateMale"></p>
            </div>
            <div class="gender-rate-item">
                <img src="../img/family/female.png" width="33px" height="86px" alt="女性">
                <p style="color:#E2729F;" id="genderRateFemale"></p>
            </div>
        </div>
        <div class="left-title"  style="width:auto;">新生男性：新生女性=<span id="genderRateMsg"></span></div>
    </div>
    <div class="right-family-bottom">
        <div class="left-title">孕妇年龄分布</div>
        <div id="familyAgeChart">

        </div>
    </div>
</div>
<script src="./scripts/family.js"></script>
