<div class="profile_left">
        <div class="left-title">指示预警</div>

        <div class="tab-title-container">
            <span class="tab-title">总和出生率</span>
            <span class="tab-title">出生性别比</span>
            <span class="tab-title">人口老龄化</span>
        </div>
        <div class="tab-content-container">
            <div class="tab-content">
                <div id="fertilityChart"></div>
            </div>
            <div class="tab-content">
                <div id="genderRateChart"></div>
            </div>
            <div class="tab-content">
                <div id="ageingChart"></div>
            </div>
        </div>
        <div class="markline-notice"><span
                style="color: #FFD750;padding: 0 10px; display: inline-block">------</span>更替水平线(2.1)</div>
    </div>
    <div class="content-middle-rate">
        <ul class="timeline">

        </ul>
        <div id="thatYearDistributionChart">
        </div>
        <div class="chart_name">当年死亡率</div>
    </div>
    <div class="content-right-rate">
        <div class="left-title">数据预览</div>
        <div class="data-screen">
            <p class="data-screen-title">死亡率最高五位</p>
            <div class="data-screen-content top5">
                <div class="data-screen-content-cell">
                    <div class="data-screen-key">
                        <span class="data-screen-key-icon">1</span>
                        <span>武隆区</span>
                    </div>
                    <div class="data-screen-value">
                        6.48‰
                    </div>
                </div>
                <div class="data-screen-content-cell"></div>
                <div class="data-screen-content-cell"></div>
                <div class="data-screen-content-cell"></div>
                <div class="data-screen-content-cell"></div>
            </div>
        </div>
        <div class="data-screen">
            <p class="data-screen-title">死亡率最低五位</p>
            <div class="data-screen-content bottom5">
            </div>
        </div>
    </div>
    <script src="./scripts/mortality.js"></script>
