<div class="health-middle">
    <ul class="timeline">

    </ul>
    <div id="healthResourceChart">
    </div>
    <!-- <div class="chart_name" style="width:400px;left:600px;">医疗总资源</div> -->
</div>
<div class="content-right">
    <div class="right-migration-top">
        <div class="left-title" style="padding-top: 5px;">资源指标</div>
        <div class="childbearingChart-container">
            <div id="childbearingChart"></div>
            <div class="childbearingChart-desc">

            </div>
        </div>
        <div class="indicators-desc" id="zyzbms">

            </div>
    </div>
    <div class="right-migration-bottom">
        <div class="left-title" style="">资源预警</div>
        <div class="select-area-show">
            <img src="../../img/health/main.png" width="66px" height="100px" alt="主城区">
            <p>主城片区</p>
        </div>
        <div class="indicators-desc" id="zyyjms">

        </div>
    </div>
</div>
<script src="./scripts/obstetric.js"></script>
