<div class="profile_left">
    <div class="left-title">指示预警</div>

    <div class="tab-title-container">
        <span class="tab-title">总和出生率</span>
        <span class="tab-title">出生性别比</span>
        <span class="tab-title">人口老龄化</span>
    </div>
    <div class="tab-content-container">
        <div class="tab-content">
            <div id="fertilityChart"></div>
        </div>
        <div class="tab-content">
            <div id="genderRateChart"></div>
        </div>
        <div class="tab-content">
            <div id="ageingChart"></div>
        </div>
    </div>
    <div class="markline-notice"><span
            style="color: #FFD750;padding: 0 10px; display: inline-block">------</span>更替水平线(2.1)</div>
</div>
<div class="content-middle">
    <ul class="timeline">

    </ul>
    <div id="thatYearDistributionChart">
    </div>
    <div class="chart_name">当年户籍人口分布</div>
</div>
<div class="content-right">
    <div class="content-right-top">
        <div class="left-title" style="position:relative;top:8px;">年龄结构</div>
        <div class="ageStructure">
            <div id="ageStructureChart"></div>
            <ul class="ageStructureRate">
            </ul>
        </div>
    </div>
    <div class="content-right-bottom">
        <div class="left-title">人口金字塔</div>
        <span class="pyramidChart-ytip">年龄(岁)</span>
        <span class="pyramidChart-xtip">(万人)</span>
        <div id="pyramidChart">

        </div>
    </div>
</div>
<script src="./scripts/registered.js"></script>
